
body {
  background-color: black;
  font-family: 'Wendy One', sans-serif;
  font-weight: 400;
}
  
.header {
  // border: 1px solid red;
  text-align: center;
  font-size: 50px; 
  margin-top: 0px; 
}

.mainContainer {
  border: 5px solid rgb(255, 136, 0);
  border-radius: 10px; 
  width: 90vw; 
  height: 90vh; 
  // height: 80vh;
  margin: 40px auto auto auto; 
  background-color: yellow;
  position: relative;
}

.mainContainer div {
  border: 4px solid black;
  border-radius: 10px; 
  width: 90%;
  height: 70%;
  // height: 500px; 
  margin: 50px auto auto auto; 
  // text-align: center;
  // line-height: 400px;
  // font-size: 40px; 
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 20px; 
  padding-right: 20px; 
  
}

.mainContainer div h3 {
  width: 100%;
  text-align: center;
  font-size: 40px; /* 30 */ 
  margin-bottom: 45px; 
}

.mainContainer div h4 {
  border: 3px solid brown; 
  padding: 20px;
  width: 90%; 
  border-radius: 10px;
  font-size: 20px; 
  margin: 3px; 
}

h4:hover {
  background-color: #738276;
}

h4.choice {
  cursor: pointer;
}

.right {
  // border: 1px solid black;
  display: inline-block;
  // position: absolute; 
  // left: 0px; 
  margin-left: 20px; 
}

.wrong {
  // border: 1px solid black;
  display: inline-block;
  position: absolute; 
  right: 0px; 
  margin-right: 20px; 
}